header{
	border-bottom: 5px $header-bottom-header solid;
}

$i: 6;
@while $i < 26 {
  .font-#{$i} { font-size: 0pt + $i; }
  $i: $i + 1;
}
.cattitle{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cattitle:after {
    content: '';
    border-top: 2px solid #DEDEDE;
    margin: 0 0 0 20px;
    flex: 1 0 20px;
}
@each $color,
$value in $brand-colors {
    .text-#{$color} {
        color: $value;
    }
}
.footer-1{
	background:#FEC506;
	border-top:solid 1px #848484;
	border-bottom:solid 1px #848484;
}
.footer-2{
	background:#FFF;
	height:50px;
}
.footer-3{
	background: #848484;
}
.playbutton{
	top: 0;
    left: 0px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    width:100%;
    height:100%;
}
.summary{
	width:300px;
}